:root {
    --Navy950: hsl(233, 47%, 7%);
    --Blue950: hsl(244, 38%, 16%);
    --Purple500: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --WhiteA: hsla(0, 0%, 100%, 0.75);
    --WhiteAa: hsla(0, 0%, 100%, 0.6);
}
@font-face {
    font-family: 'Inter';
    src: url("../assets/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
    font-weight: 100 900; font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lexend Deca';
    src: url("../assets/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
    format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Navy950);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1110px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--Blue950);
    overflow: hidden;
    gap: 1rem;
}

.containerText {
    flex: 1;
    padding: 4rem;
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.header {
    font-family: "Inter", sans-serif;
    font-size: 2.3rem;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.header span {
    color: var(--Purple500);
}

.text {
    font-size: .95rem;
    color: var(--WhiteAa);
    padding-right: 4rem;
    line-height: 1.7;
    margin-bottom: 4rem;
}

.containerText ul {
    font-family: Inter, serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 80%;
    padding: 0;
}

.containerText ul li {
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: var(--WhiteAa);
    padding: 0;
    margin: 0;
}

.containerText ul li span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--White);
    margin-bottom: 0.3rem;
}
.containerText li :not(span) {
    text-transform: uppercase;
}

.containerImg {
    flex: 1 1 auto;
    min-height: 400px; /* фиксируем минимальную высоту для десктопа */
    background:
            linear-gradient(rgba(85, 0, 130, 0.65), rgba(85, 0, 130, 0.65)),
            url("/image-header-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    body{
        margin: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        flex-direction: column-reverse;
        text-align: center;
        max-width: 100%;
        overflow: hidden;
        padding: 0;
    }

    .containerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.8rem;
    }
    .text{
        padding: 0;
        font-size: .9rem;
        margin-bottom: 2rem;
    }

    .containerText ul {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
    }
    .header{
        font-size: 1.6rem;
        margin-bottom: .5rem;
    }

    .containerImg {
        height: auto;
        min-height: 250px; /* высота для мобильных */
        background:
                linear-gradient(rgba(85, 0, 130, 0.65), rgba(85, 0, 130, 0.65)),
                url("/image-header-mobile.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
}
