apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: stats-preview-card-component-app
    newName: stats-preview-card-component-app
    newTag: latest
